 <div class="product-grid">
<div class="product">
<div class="cover slide">
<img class="banner" src="https://avatars3.githubusercontent.com/u/9010771?v=2&s=200" />
<h3 class="title">ArcherSysCloud</h3>
<p class="meta">1 user</p>
</div>
 <div class="details slide">
   <div class="header">
      <img class="icon" src="https://avatars3.githubusercontent.com/u/9010771?v=2&s=200" />
      <p class="title">ArcherSysCloud</p>
    </div>
    <div class="content">
      <p class="description">ArcherSysCloud is a free service that lets you and others bring all your photos, docs, and videos anywhere, all on your copy of the ArcherSys OS .</p>
</div>
<div class="actions">
<button class="install" onclick="window.location.assign('https://github.com/ArcherSys/ArcherSys-Cloud/archive/master.zip')"><span class="entypo-plus"></span>Free</button>
<button class="entypo-share share">SHARE </button>
</div>
</div><!-- /details slide -->
</div>
<div class="product">
<div class="cover slide">
<img class="banner" src="https://raw.githubusercontent.com/ArcherSys/Comanquer/master/images/logo.png" />
<h3 class="title">Comanquer</h3>
<p class="meta">1 User</p>
</div>
<div class="details slide">
<div class="header">
<img class="icon" src="https://lh6.googleusercontent.com/N_SgAZlOkt9gqo0G0i3O0VobVpTKSDLG_YsQ4ueKAHJgUgjhA2T0mlysMuUoSxGByHlE1ee57A=s50-h50-e365-rw" />
<p class="title">Comanquer</p>
<p class="ratings"><span class="stars">★★★★★</span><span class="count">(2303)</span></p>
</div>
<div class="content">
<p class="description">Comanquer is the RTS game of Command and Conquer.</p>
</div>
<div class="actions">
<button class="install" onclick="https://github.com/ArcherSys/Comanquer/archive/master.zip"><span class="entypo-plus"></span>Free</button>
<button class="entypo-share share"></button>
</div>
</div><!-- /details slide -->
</div>
<div class="product">
<div class="cover slide">
<img class="banner" src="https://lh3.googleusercontent.com/CQJIRT_JrCnYunNEh_LJHJpHRdqsaAvVocaPrF6b2B70rQi_7NgK3iPQ3VGwc20xLPAezTFgfA=s220-h140-e365-rw" />
<h3 class="title">Dropbox</h3>
<p class="meta">2,303,030 users</p>
</div>
<div class="details slide">
<div class="header">
<img class="icon" src="https://lh6.googleusercontent.com/N_SgAZlOkt9gqo0G0i3O0VobVpTKSDLG_YsQ4ueKAHJgUgjhA2T0mlysMuUoSxGByHlE1ee57A=s50-h50-e365-rw" />
<p class="title">Dropbox</p>
<p class="ratings"><span class="stars">★★★★★</span><span class="count">(2303)</span></p>
</div>
<div class="content">
<p class="description">Dropbox is a free service that lets you bring all your photos, docs, and videos anywhere.</p>
</div>
<div class="actions">
<button class="install"><span class="entypo-plus"></span>Free</button>
<button class="entypo-share share"></button>
</div>
</div><!-- /details slide -->
</div>
<div class="product">
<div class="cover slide">
<img class="banner" src="https://lh3.googleusercontent.com/CQJIRT_JrCnYunNEh_LJHJpHRdqsaAvVocaPrF6b2B70rQi_7NgK3iPQ3VGwc20xLPAezTFgfA=s220-h140-e365-rw" />
<h3 class="title">Dropbox</h3>
<p class="meta">2,303,030 users</p>
</div>
<div class="details slide">
<div class="header">
<img class="icon" src="https://lh6.googleusercontent.com/N_SgAZlOkt9gqo0G0i3O0VobVpTKSDLG_YsQ4ueKAHJgUgjhA2T0mlysMuUoSxGByHlE1ee57A=s50-h50-e365-rw" />
<p class="title">Dropbox</p>
<p class="ratings"><span class="stars">★★★★★</span><span class="count">(2303)</span></p>
</div>
<div class="content">
<p class="description">Dropbox is a free service that lets you bring all your photos, docs, and videos anywhere.</p>
</div>
<div class="actions">
<button class="install"><span class="entypo-plus"></span>Free</button>
<button class="entypo-share share"></button>
</div>
</div><!-- /details slide -->
</div>
</div>