<div class="apporium-platform">
    <h1>Platforms</h1>
    <table>
        <tbody>
             <% @platforms.in_groups_of(5).each do |platform| %>
               <tr>
                   <td><div class="apporium-platform-header"><%= platform.platform_name %></div></td>
               </tr>
             <% end %>
        </tbody>
    </table>
   
    
</div>