$tileWidth: 240px;
$tileHeight: 200px;
$secondaryTextColor: #888;

* {
  box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body {
  font: 12px/16px 'Open Sans', sans-serif;
}

button {
  background-color: #1c5ac4;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 5px 10px;
}

.install {
  text-transform: uppercase;
  width: 100px;
  span {
    margin-right: 5px;
  }
}

.product-grid {
  display: -webkit-flex;
  -webkit-justify-content: center;
  margin-top: 20px;
  min-width: $tileWidth * 4;
  & > .product {
    margin-left: -1px;
  }
  & > .product:nth-child(1) {
    margin-left: 0;
  }
}

.product {
  width: $tileWidth;
  height: $tileHeight;
  overflow: hidden;
  border: solid #ccc 1px;
  &:hover {
    cursor: pointer;
  }

  &:hover .cover {
    margin-top: -200px;
    transition: all 0.2s;
    transition-delay: 0.4s; 
  }

  .slide {
    padding: 20px;
    width: $tileWidth;
    height: $tileHeight;
    min-height: $tileHeight;
  }

  .title {
    font-size: 13px;
  }

  .cover {
    margin-top: 0px;
    transition: all 0.2s;
  
    .banner {
      width: 220px;
      height: 140px;
      margin-bottom: 5px;
      margin-left: -10px;
      margin-top: -10px;
    }
    .title {
      width: 75%;
      float: left;
    }
    .meta {
      font-size: 11px;
      color: $secondaryTextColor;
      width: 75%;
    }
  }

  .details {
    background-color: #efefef;
    display: -webkit-flex;
    -webkit-flex-flow: column;
  
    .header {
      width: 100%;
      float: left;
      margin-bottom: 10px;
      .title, .ratings {
        width: 75%;
      }
      .ratings {
        font-size: 11px;
      }
      .ratings .stars {
        margin-right: 5px;
      }
      .ratings .count {
        color: $secondaryTextColor;
      }
      .icon {
        float: right; 
      }
    }
    
    .description {}

    .actions {
      margin-top: auto; // stick to the bottom
      text-align: center;
    }
  }
}