// Place all the styles related to the platform controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.apporium-platform{
    background-color: #ee2233;
    height: 1200px;
   
    text-align: center;
}
h1{
     padding-top: 10px;
}